extends ../shared/template
block content
  button#yellow YELLOW
  button#red RED
  button#color COLOR
  input#color-value(type='color')
  button#fadeIn Here I Come!
  button#fadeOut Shoe Fly!
  input(type='number' id='mms')

  h2 Home Page!
  #a A
  #b B
  #c C
  ul
    li D
    li E
    li F
  .g G
  .h H
  .i I
  footer
    h3.large I AM A FOOTER

block scripts
    script(src='js/user/main.js')
    script(src='js/user/alpha.js')

